th,td{
    border: 2px solid black;
    padding:8px;
    margin:20px;
}
body{
    font-family: Arial, sans-serif;
    text-align: center; 
    background-color: white;
}
#lab{
     background-color: rgb(124, 164, 178);
}
th{
    background-color: lightgray;
}
table{
    border-collapse: collapse;
    width:100%;
}
